---
title: TSGNEU • Peter Lindberg
layout: layout.njk
---

<div class="space-y-12">
  {% for item in collections.chronological %}
    {% if item.data.tags.includes('dossiers') %}
      {% set dossier = item %}
      {% include "partials/dossier.njk" %}
    {% else %}
      {% set post = item %}
      {% include "partials/post.njk" %}
    {% endif %}
  {% endfor %}
</div>
