<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<link href="/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {% if title and 'TSGNEU' in title %}
    {{ title }}
  {% else %}
    {{ title or 'Peter Lindberg' }} · TSGNEU
  {% endif %}
</title>

<meta name="description" content="The homepage of Peter Lindberg, software developer in Stockholm, Sweden.">
<meta name="author" content="Peter Lindberg">

<meta property="og:title" content="TSGNEU · Peter Lindberg">
<meta property="og:description" content="The homepage of Peter Lindberg, software developer in Stockholm, Sweden.">
<meta property="og:url" content="{{ site.url }}{{ page.url | url }}">
<meta property="og:image" content="https://tsgn.eu/og-image.jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<body class="bg-stone-50 text-neutral-700 dark:bg-stone-800 dark:text-neutral-300">

<div class="max-w-[42rem] mx-auto px-4 sm:px-8 mt-8 mb-24">
  <header class="mb-12">
    <nav class="text-sm text-neutral-400">
      <a href="/" class="font-semibold">TSGNEU</a> ·
      <a href="/about">About</a>
    </nav>
  </header>

  <main>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>

  <footer class="text-sm text-neutral-400 mt-16">
    TSGNEU &copy; 2025 by Peter Lindberg is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
  </footer>
</div>
